<div class="container">
  <div class="row my-2">
    <div class="col-12 col-sm-4 offset-sm-8">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary"
                title="Copies your personal access token to your clipboard. You can use this token e.g. to authorize yourself against the Kubernetes API Endpoints."
                (click)="GetToken(t, copyUserTokenButton)" triggers="manual" ngbTooltip="Tooltip on top" #t="ngbTooltip" [autoClose]="true" #copyUserTokenButton
                [closeDelay]="2000">
          <ng-container *ngIf="!copyUserTokenButton.disabled else working">Copy User Token</ng-container>
        </button>
        <a class="btn btn-primary" title="You can use this file e.g. to access the Kubernetes cluster using kubectl CLI tool."
           href="/api/v1/kubernetes/getUserConf">Download ~/.kube/config File</a>
      </div>
    </div>
  </div>
  <h1>Custom Kubernetes Namespaces</h1>
  <div class="row" *ngIf="customProjects && customProjects.length >= 0 else working">
    <div class="col-9">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">&lt;your-username&gt;-ppp-</span>
        <input type="text" pattern="[A-Za-z0-9]*" class="form-control" placeholder="namespace name" [(ngModel)]="newNamespaceName" aria-describedby="namespaceHint" />
      </div>
      <small id="namespaceHint" class="form-text text-muted">Allowed are only letters, numbers and -.</small>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-primary" title="Adds a custom kubernetes namspace."
              [disabled]="newNamespaceName.length == 0"
              (click)="AddCustomNamespace(newNamespaceName)">
        Add custom Namespace
      </button>
    </div>
    <div class="col-12 border-bottom my-3"></div>
    <div class="col-12 border-bottom border-color" *ngFor="let p of customProjects">
      <div class="row py-3 " [class.clickable]="p.ownProject"
           (click)="extendedCustomProject = (extendedCustomProject == p.id?'':p.id)">
        <div class="col-1">
          <i class="material-icons" *ngIf="extendedCustomProject != p.id && p.ownProject">
            keyboard_arrow_down
          </i>
          <i class="material-icons" *ngIf="extendedCustomProject == p.id && p.ownProject">
            keyboard_arrow_right
          </i>
        </div>
        <div class="col-11 col-sm-7">
          <div class="row">
            <div class="col-5">
              <h5>Kubernetes-Namespace:</h5>
            </div>
            <div class="col-7">
              <h5>
                <a target="_blank"
                   [href]="'/dashboard/#/overview?namespace='+p.kubernetesNamespace"
                   click-stop-propagation>

                  {{ p.kubernetesNamespace }}
                </a>
              </h5>
            </div>
            <div class="col-7 offset-5" *ngIf="p.monitoringUrl">
              <h5>
                <a target="_blank"
                   [href]="p.monitoringUrl"
                   click-stop-propagation>
                  Go to Monitoring
                </a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-11 col-sm-4 d-flex justify-content-end align-items-center">
          <div class="btn-group" role="group" *ngIf="!p.apiOperationRunning else working">
            <button type="button" class="btn btn-warning" *ngIf="!p.ownProject" click-stop-propagation
                    title="Removes your personal access to this project/namespace."
                    (click)="LeaveCustomProject(p);">
              Leave project
            </button>
            <button type="button" class="btn btn-danger" *ngIf="p.ownProject" click-stop-propagation
                    title="Deletes the correspondending namespace inside kubernetes - all data will be lost."
                    (click)="DeleteCustomProject(p);">
              Delete
            </button>
          </div>
        </div>
      </div>
      <ng-container *ngIf="p.ownProject">
        <div class="row" [ngbCollapse]="extendedCustomProject != p.id">
          <div class="col-7 offset-1">
            <input type="text" pattern="[A-Za-z0-9]*" class="form-control w-100 ms-3" placeholder="username" #usernameInput />
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-primary" (click)="AddUserToCustomProject(p, usernameInput.value)">Add user</button>
          </div>
          <div class="col-10 offset-1 mt-3">
            <label class="fs-4 ms-3">
              User with access to this Kubernetes Namespace
            </label>
          </div>
          <div class="col-10 col-md-6 offset-1">
            <table class="table table-striped ms-4">
              <tbody>
                <tr *ngIf="!p.userWithAccess || p.userWithAccess.length == 0">
                  <th>There are no other users with access to this Kubernetes Namespace.</th>
                </tr>
                <tr *ngFor="let u of p.userWithAccess">
                  <th scope="row">{{ u }}</th>
                  <td>
                    <button type="button" class="btn btn-danger" *ngIf="!p.apiOperationRunning else working"
                            title="Removes the personal access for the specified user."
                            (click)="RemoveAccessForUserToCustomProject(u, p)">
                      Remove access
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="col-12 border-bottom border-color" *ngIf="customProjects && customProjects.length == 0">
      We could not find any custom Kubernetes Namespace associated with you.
    </div>
  </div>
  
  <h1 class="mt-3">GitLab projects</h1>
  <div class="alert alert-warning my-1" role="alert">
    Please create a bridge only for projects in which <strong>not trustworthy</strong>
    have at most <strong>developer</strong> permissions because the automatically connected associated Gitlab CI/CD privileged runner
    would otherwise also be unlocked for them. This would have a major safety impact.
  </div>
  <div class="alert alert-primary my-1" role="alert" *ngIf="CountOfJoinedProjects() > 0">
    You have been successfully added to {{ CountOfJoinedProjects() }} projects.
  </div>
  <div class="alert alert-light my-1" role="alert">
    Only projects in which you have at least maintainer permissions are displayed.
  </div>
  <div class="row" *ngIf="projekte else working">
    <div class="col-12 border-bottom border-color" *ngIf="!projekte || projekte.length == 0">
      We could not find any project in which you have at least maintainer rights.
    </div>
    <div class="col-12 border-bottom border-color" *ngFor="let p of projekte">
      <div class="row py-3 " [class.clickable]="p.enabled"
           (click)="extendedProject = (extendedProject == p.id?-1:p.id)">
        <div class="col-1">
          <i class="material-icons" *ngIf="extendedProject != p.id && p.enabled">
            keyboard_arrow_down
          </i>
          <i class="material-icons" *ngIf="extendedProject == p.id && p.enabled">
            keyboard_arrow_right
          </i>
        </div>
        <div class="col-11 col-sm-7">
          <h4><a [href]="p.url" target="_blank" click-stop-propagation>{{ p.nameWithNamespace }}</a></h4>
          <div class="row" *ngIf="p.enabled">
            <div class="col-5">
              <h5>Kubernetes-Namespace:</h5>
            </div>
            <div class="col-7">
              <h5>
                <a target="_blank"
                   [href]="'/dashboard/#/overview?namespace='+p.KubernetesNamespace"
                   click-stop-propagation>

                  {{ p.KubernetesNamespace }}
                </a>
              </h5>
            </div>
            <div class="col-7 offset-5" *ngIf="p.monitoringUrl">
              <h5>
                <a target="_blank"
                   [href]="p.monitoringUrl"
                   click-stop-propagation>
                  Go to Monitoring
                </a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-11 col-sm-4 d-flex justify-content-end align-items-center">
          <span class="badge bg-primary me-1" *ngIf="p.joined"
                title="Add the current project to your personal kubernetes access account.">Joined!</span>
          <div class="btn-group" role="group" *ngIf="!p.apiOperationRunning else working">
            <button type="button" class="btn btn-secondary" *ngIf="p.enabled"
                    title="Copies the gitlab kubernetes access token to your clipboard." (click)="GetProjectToken(t2, p.id, copyTokenButton)"
                    click-stop-propagation triggers="manual" #t2="ngbTooltip" #copyTokenButton ngbTooltip="Tooltip on top" [autoClose]="true"
                    [closeDelay]="2000">
              <ng-container *ngIf="!copyTokenButton.disabled else working">Copy Token</ng-container> 
            </button>
            <button type="button" class="btn btn-success" *ngIf="!p.enabled" click-stop-propagation
                    title="Enables the gitlab kubernetes integration" #enableButton
                    (click)="EnableProject(p);">
              Create bridge
            </button>
            <button type="button" class="btn btn-danger" *ngIf="p.enabled" click-stop-propagation
                    title="Disables the gitlab kubernetes integration and deletes the correspondending namespace inside kubernetes - all data will be lost."
                    #disableButton (click)="DisableProject(p);">
              Destroy bridge
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="p.enabled" class="row" [ngbCollapse]="extendedProject != p.id">
        <div class="col-10 offset-1">
          <label class="fs-4 ms-3">
            User with access to this Kubernetes Namespace
          </label>
        </div>
        <div class="col-10 col-md-6 offset-1">
          <table class="table table-striped ms-4">
            <thead>
              <tr><th>User</th><th></th></tr>
            </thead>
            <tbody>
              <tr *ngIf="!p.UserWithAccess || p.UserWithAccess.length == 0">
                <th>There are no other users with access to the Kubernetes Namespace associated with this project.</th>
              </tr>
              <tr *ngFor="let u of p.UserWithAccess">
                <th scope="row">{{ u }}</th>
                <td>
                  <button type="button" class="btn btn-danger float-end" *ngIf="!p.apiOperationRunning else working"
                          title="Removes the personal access for the specified user. This makes only sense if the user leaved this project or has at least developer rights in this project."
                          (click)="RemoveAccessForUser(u, p)">
                    Remove access
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="alert alert-light my-1" role="alert">
            Other maintainers or owners of this project have to sign in this page to gain access to the associated Kubernetes Namespace if they are not yet displayed in the list above.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #working>
  <div class="w-100 d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Working...</span>
    </div>
  </div>
</ng-template>
